<header class="bg-primary text-grey-800 py-12"> 
    <div class="container mx-auto flex flex-wrap justify-between items-center">
        <img src="{{ .Site.Params.logo }}" alt="logo image" title="Al Aqsa Mosque Logo" class=" w-20 block absolute">
    </div>
    <div class="flex items-center justify-center">
        <img src="{{ .Site.Params.kalma }}" alt="kalma png" title="Kalma" style="width: 110px;" class="block absolute">
    </div>    
    <nav class="flex justify-center space-x-4 mt-7 absolute inset-x-0 font-bold " style="color: white;">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</header>